<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.5, minimum-scale=1.0">
  <title>V4 Lisboa&CO - Gerenciar Usuários</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style-home.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='style-gerenciar-usuarios.css') }}">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
</head>

<body>



  {% include 'components/navbar.html' %}

  <div class="main-content">

    {% if nova_senha %}
    <!-- <script>
        alert(`{{nova_senha}}`)
    </script> -->

    <div id="box-reset" class="rest-senha" style="display: block">
      <p>{{usuario}}</p>
      <p>Nova senha: {{nova_senha}}</p>
      <button onclick="esconderDiv()">OK</button>
    </div>

    {% else %}
    <div id="box-reset" class="rest-senha" style="display: none"></div>

    {% endif %}

    <!-- View 1 -->
    <div id="tela1" class="tela">
      <h1 class="title-tela">Gerenciar Usuários</h1>

      <div id="header">

        <input type="text" id="searchInput" class="search" placeholder="Pesquisar Nome ou E-mail">

        <select id="filtroSquad">
          <option value="">Todas as Squads</option>
        </select>

        <select id="filtroUnidade">
          <option value="">Todas as Unidades</option>
        </select>

        <select id="filtroCargo">
          <option value="">Todos Cargos</option>
        </select>
      </div>

      <div class="container">

        <div class="cards-frame" id="cards-frame">
          <!-- Cards inseridos aqui por Javascript -->
        </div>

        <div class="details-frame" id="details-frame">
          <p>Selecione um usuário à esquerda para editar</p>
        </div>

      </div>

    </div>

  </div>

  <script src="{{ url_for('static', filename='load_users.js') }}"></script>
</body>

</html>