<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>V4 Lisboa&CO - Login</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style-login.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style-criar-usuario.css') }}"> 

    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">

    <head>
        <title>Login</title>
    </head>

<body>
    <div id="errorMessage">
        <p>Opa! {{erro}}</p>
    </div>
    <div class="tela" id="tela1" style="display: block;">
        <div class="container">
            <img src="{{ url_for('static', filename='images/V4LOGO.png') }}" style="height:100px; width:100px"
                alt="Logo">
            <h2>Lisboa&CO</h2>
            <form method="POST">

                <div class="login-field">
                    <!-- <label>Usuário:</label><br> -->
                    <i class="fa fa-envelope"></i>
                    <input type="text" placeholder="E-mail" name="username" required><br><br>
                </div>

                <div class="password-field">
                    <i class="fa fa-lock"></i>
                    <input type="password" id="senha" placeholder="Senha" name="password" required>
                    <i id="toggleSenha" class="fa fa-eye toggle-eye"></i>
                </div>

                <button type="submit">LOGIN</button>
            </form>

            {% if erro %}
            <script>
                window.addEventListener("DOMContentLoaded", () => {
                    const input = document.getElementById("errorMessage");
                    if (input) {
                        toggleClassTemporarily(input, "erro");
                    }
                });
            </script>
            {% endif %}
        </div>
        <p>Ainda não está cadastrado? <a href="{{url_for('register')}}">Só clicar aqui 😊</a></p>
    </div>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
    <script>
        const senhaInput = document.getElementById("senha");
        const toggleIcon = document.getElementById("toggleSenha");

        toggleIcon.addEventListener("click", () => {
            const isPassword = senhaInput.type === "password";
            senhaInput.type = isPassword ? "text" : "password";
            toggleIcon.classList.toggle("fa-eye");
            toggleIcon.classList.toggle("fa-eye-slash");
        });
    </script>


</body>

</html>

<!-- 
            <a href="{{ url_for('login_google') }}" style="text-decoration: none;">
            <button style="background-color: #fff; color: #444; border: 1px solid #ccc; padding: 10px 20px; border-radius: 4px; display: flex; align-items: center; gap: 10px;">
                <img src="https://developers.google.com/identity/images/g-logo.png" alt="Google" style="height: 20px;">
                Entrar com Google
            </button>
            </a> -->